# yamllint disable rule:line-length
---
name: "Build and Deploy"
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:  # allows manual triggering
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: Homelab
      url: "https://app.cachix.org/deploy/workspace/lab.thewagner.home/"
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29  # v4.1.6
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3  # v3.0.0
      - uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b  # v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: "extra-platforms = aarch64-linux"
      - uses: cachix/cachix-action@18cf96c7c98e048e10a83abd92116114cd8504be  # v14
        with:
          name: wagdav
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Check
        run: nix flake check
      - name: Build
        run: nix build --print-build-logs .#cachix-deploy-spec
      - name: Deploy
        if: github.ref == 'refs/heads/master'
        env:
          CACHIX_ACTIVATE_TOKEN: "${{ secrets.CACHIX_ACTIVATE_TOKEN }}"
        run: |
          cachix push wagdav ./result
          cachix deploy activate --async ./result
